exportPattern("^[[:alpha:]]+")
importFrom("stats", "na.fail", "na.omit", "na.pass")
importFrom("rpart", "rpart", "na.rpart")
importFrom("randomForest", "randomForest")
importFrom("e1071","naiveBayes","svm")
importFrom("ada","ada")
importFrom("kknn","train.kknn","contr.dummy", "contr.ordinal")
importFrom("nnet", "nnet")
importFrom("xgboost","xgboost","xgb.DMatrix", "xgb.train")
importFrom(dplyr,"%>%","select")
